:root{
    --all-btn-cl:#6C63FF;
    --white-cl:#fff;
}

@font-face {
    font-family: 'Kanit';
    src: url(/fonts/Kanit/Kanit-Medium.ttf);
    font-style: swap;
    font-weight: 500;
}

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    font-family: 'Kanit',sans-serif;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 1vw;
}

.header-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: clamp(20px,3vw,40px) 0;
}
.header-title{
    font-size: clamp(1.5rem,3vw,2rem);
}

.search-wrapper,
.all-button,
.note-list__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-wrapper{
    gap: 0 clamp(0.4rem,3vw,1rem);
} 

.search-bar{
    position: relative;
}

.search-button{
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    border: none;
    background: transparent;

}
.search-input{
    padding: 11px 100px 11px 16px;
    border: 1px solid var(--all-btn-cl);
    border-radius: 5px;
}


.search-bar{
    flex-grow: 1;
}

#search{
    width: 100%;
}

.all-button{
    gap: 25px;
    background-color: var(--all-btn-cl);
    color: var(--white-cl);
    padding: 10px;
    border-radius: 5px;
}


.all-button,
.search-button{
    cursor: pointer;
}

.note-inner{
    margin: clamp(0.8rem,3vw,1rem);
}
.note-list__wrapper{
    padding: clamp(15px,3vw,30px) 0;
    border-bottom:1px solid var(--all-btn-cl) ;
}

.checkbox-title{
    font-size: clamp(14px,3vw,20px);
}

.note-list-icon__inner{
    display: flex;
    gap: clamp(0.6rem,3vw,1rem);
}

.note-list-icon__inner img{
    width: clamp(25px,3vw,35px);
    height: auto;
}

.check-box{
    display: none;
}

.checkbox-title{
    display: flex;
    align-items: center;
    gap: clamp(0.6rem,3vw,1rem);
}


.check-icon__box{
    width:  clamp(20px,3vw,26px);
    height:  clamp(20px,3vw,26px);
    border: 1px solid var(--all-btn-cl);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.check-icon{
    width:  clamp(8px,3vw,14px);
    height:clamp(8px,3vw,14px);
}

.check-icon__box .check-icon{
    display: none;
}


.check-box:checked + .checkbox-title .check-icon__box .check-icon{
    display: block;
}

.check-box:checked + .checkbox-title .check-icon__box{
    background-color: var(--all-btn-cl);
}