:root{
    --all-btn-cl:#6C63FF;
    --white-cl:#fff;
}
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 1vw;
}

.header-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: clamp(20px,3vw,40px) 0;
}
.header-title{
    font-size: clamp(1.5rem,3vw,2rem);
}

.search-wrapper,
.all-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-wrapper{
    gap: 0 16px;
} 

.search-bar{
    position: relative;
}

.search-button{
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    border: none;
    background: transparent;

}
.search-input{
    padding: 11px 100px 11px 16px;
    border: 1px solid var(--all-btn-cl);
    border-radius: 5px;
}


.search-bar{
    flex-grow: 1;
}

#search{
    width: 100%;
}

.all-button{
    gap: 25px;
    background-color: var(--all-btn-cl);
    color: var(--white-cl);
    padding: 10px;
    border-radius: 5px;
}


.all-button,
.search-button{
    cursor: pointer;
}